/*.Register {
    background-color: #282c34;
    color: white;
    text-align: center;
    margin: 20px auto auto auto;
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    height: 400px;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
} */

.Register {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background-color: #282c34;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.Register h2 {
    color: white;
}

.Register .user-box {
    position: relative;
}

.Register .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.Register .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.Register .user-box input:focus ~ label,
.Register .user-box input:valid ~ label {
    transform: translateX(-7px) translateY(-25px);
    color: #03e9f4;
    font-size: 12px;
}

.Register .register-button button {
    width: 50%;
    /*background: dodgerblue;*/
    background:#118296 ;
    color: #fff;
    border: #fff;
    font-size: 16px;
    border-radius: 5px;
}